html{scroll-behavior:smooth}

*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    color: #FFFFFF;
}
body{
    background-color: #242424;
}

a{
    text-decoration: none;
}

.menu-icon{
    display: none;
    float: right;
    width: 40px;
    height: auto;
    top: 23px;
    right: 60px;
    transition: 0.2s linear;
}

.hamburger-active{
    transform: rotate(90deg);
}

.mobile-menu{
    opacity: 0.95;
    background-color: #242424;
    display: none;
    position: absolute;
    width: 100%;
    height: 210px;
}

.mobile-menu ul{
    position: relative;
    left: 50px;
    font-size: 1.9rem;
    display: block;
    text-align: right;
    justify-content: center;  
}

.mobile-menu ul li{
    margin-bottom: 10px;
}

ul{
    display: inline-block;
    float: right;
    margin-right: 5rem;
    margin-top: 1.49rem;
    font-weight: 300;
}

li{
    display: inline-block;
    margin-left: 2rem;
}

nav{
    background-color: #181818;
    height: 5rem;
    font-size: 1.4rem;
    box-shadow: 2px 2px 10px black;
}

nav img{
    display: inline-block;
    position: relative;
    height: 90%;
    margin-left: 2rem;
    bottom: -6px;
}

.section2{  
    background-color: #242424;
    height:100%;
    margin-bottom: 80px;
}


.section2 h1{
    font-size: 6rem;
    color: #FF4545;
    text-shadow: 3px 3px 3px black;
    padding: 30px;
    padding-top: 50px;
    text-align: center;
}

.section1 img{   
    width: 100%;
    position: relative;
    z-index: -1;
}

.perks-container{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
}

.perk{
    background-color:#141414 ;
    flex-basis: 28%;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
    margin: 20px;  
    border-radius: 40px;
    padding: 0px 10px;
    padding-bottom: 30px;
    padding-top: 8px;
    -webkit-filter: drop-shadow(6px 6px 6px rgb(32, 32, 32));
    filter: drop-shadow(6px 6px 6px rgb(26, 26, 26));
}

.perk img{   
    margin-top: 20px;
    padding-bottom: 20px;
    -webkit-filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

.section3{
    margin-bottom: -50px;
}

.section3 .buttons-container{
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
}

.section3 button{
    padding: 15px;
    text-align: center;
    flex-basis: 100%;
    color: black;
    width: 33%;
    margin: -0px;
    font-weight: 800;
    font-size: 1.50rem;
    background-color: rgb(209, 209, 209);
    border-style: none;
    border-right: 4px solid #242424;
    
}

.active{
    background: #131313 !important;
    color: #FF4545 !important;
    text-shadow: 2px 2px 5px black;
    border-style: none;
    outline: none; 
    -webkit-box-shadow: inset 0px 0px 5px #414141;
    -moz-box-shadow: inset 0px 0px 5px #5c5c5c;
    box-shadow: inset 0px 0px 5px #383838;
   
}

.section3 .zona{
    position: absolute;
    display: block;
    transition: 0.3s ease-in;
    right: 0 ;
    opacity: 100%;
    width: 100%;
}

.hidden{
    transition: 0.3s ease-in;  
    right: 2000px  !important ;
    opacity: 0% !important; 
}

.zoneText-container{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 39%;
    bottom: 320px;
    font-size: 1.4rem;
}

.blank-space{
    height: 500px;
    width: 100%;
    margin-bottom: 300px;
}

footer{   
    background-color: #181818;
    height: 3rem;
    font-size: 1.4rem;   
}

footer img{
    display: inline-block;
    position: relative;
    height: 90%;
    margin-left: 2rem;
    bottom: -6px;
    float: right;
    right: 50px;
}

footer ul{
    left: 50px;
    position: relative;
    font-size: 1rem;
    bottom: 10px;
    float: left !important;
}

.section4{
   text-align: center;
}

.section4 img{ 
    width: 100%;
    height: 200px;
    object-fit: cover; 
    z-index: -1;
    transition: 0.3s linear; 
}

.section4 img{
    filter: brightness(35%);
    transition: 0.2s linear; 
}

.section4 img:hover{ 
    width: 100%;
    height: 200px;
    object-fit: cover;
    filter: brightness(70%);
    z-index: -1;
    
}

.section4 h2{
    margin-top: 50px;
    position: absolute;
    color: #eeeeee;
    font-size: 4rem;
    width: 100%;
    left: 50%;
    opacity: 0.9;
    transform: translate(-50%);
    text-shadow: 2px 2px 5px black;
    z-index: 1;  
    pointer-events: none;
} 

.section5 {
    color: black !important;
    text-align: center;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    height: 500px;
}

form{
    color: black !important;
}

input, textarea label{  
    color: black;  
}

.section5-sub{
    align-items: center;
    flex-basis: 50%;
    height: 100%; 
}

.form-container{
    height: 100%;
}

label{
    color: #eeeeee;
    font-weight: 900 !important;
    margin: 0 !important;
    padding: 0 !important;
    text-shadow: 2px 2px 5px rgb(22, 22, 22);
}

input[type=text], input[type=email]{
    width: 250px;
    margin: 0 !important;
    
    left: 20px;
    padding: 3px;
    border-radius: 5px;
}

textarea{
    color: rgb(0, 0, 0) !important;
    padding: 5px;
}

.form-container form{
    font-weight: 100;
    font-size: 1.3rem;
    position: relative;
    top: 35px;
    border-radius: 5px;
}

#form-submit{
    font-size: 1.1rem;
    padding: 5px 30px;

}

.form-text-container{
    font-size: 1.8rem;
    align-items: center;
    display: inline-block;
    position: relative;
    top: 140px;
}

.social-icon{
    width: auto;
    position: relative;
    top: 8px;
    height: 30px;
}

@media screen and (max-width: 962px) {
    .perk{
        flex-basis: 100%;
    }

    h1{
        font-size: 3.8rem !important;
    }

    .section4 h2{
        margin-top: 65px !important;
        font-size: 2.6rem !important;
    }

    .buttons-container{
        height: 42px;
    }

    .section3 button{
        
        height: 100%;
        font-size: 0.7rem !important;
        padding: 5px 0px;
        width: 32.5%;
    }

    iframe{
        width: 100%;
        height: 400px;
    }

    .zoneText-container{
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 360px;
        font-size: 1.2rem;
    }
}

@media screen and (max-width:703px){
    .ul-pc {
        display: none;
    }
    .section5{
        display: inline-block;
    }

    .section5-sub{
        
        width: 100%;
        height: auto;
        margin-bottom: 300px;
    }

    .form-container{
    position: relative;
    bottom: 100px;
    }

    footer li{
        font-size: 10px;
        margin: 0 2px;
    }

    .social-icon{
        top: 17px;
        width: 20px;
        height: auto;
    }
    .footer-logo{
        display: none;
    }
    .menu-icon{
        display: inline-block !important;
    }
}

@media screen and (max-width:400px){

    .section4 h2{
        margin-top: 65px !important;
        font-size: 2rem !important;
    }
}